html, body {
  color: #002A5C;
}

h1, h2 {
  font-family: 'Cinzel', serif;
}

/* .................... Navigation Bar Styling .................... */

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  font-family: 'Cinzel', serif;
}

.navbar.solid {
  background-color: #002F65;;
}

/* Brand Style */
.navbar-brand > img {
  width: 200px;
  cursor: pointer;
}
#gradientDivider{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255), rgba(0, 0, 0, 0));
}

/* Hamburger Menu */
.fa-1x {
font-size: 1.5rem;
}

/* Menu item Styling  */
.custom-link{
    position: relative;
}

.navbar-custom .navbar-nav .custom-link {
  color: white;
  transition: all 1s;
  z-index: 100;
}

.custom-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.custom-link:hover:before, .custom-link:focus:before {
  visibility: visible;
  width: 100%;
}

/* ....................................................................... */

.bg-navy{
  background-color: #061627;
}

.bt-navy-grey{
  border-top: 1px solid rgba(255,255,255,0.3);
}

/* ....................... Carousel Styling ....................... */
.carousel-full.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

#slide1{
  background-image:
  linear-gradient(to bottom, rgba(6,22,39,1), rgba(6,22,39,0)),
  url('../images/convocation.jpg');
  height: 80vh;
  background-size: cover;
}
#slide2{
  background-image:
  linear-gradient(to bottom, rgba(6,22,39,1), rgba(6,22,39,0)),
  url('../images/banners.jpg');
  height: 80vh;
  background-size: cover;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none;
}
}

/* Hero Content */
.hero-container{
    height: 70vh;
}

.hero-rental {
  background-image: linear-gradient(to bottom, rgba(6,22,39,1), rgba(6,22,39,0.3)),
  url("../images/cover.png");
  background-size: cover;
}

.hero-title{
  border: 2px solid white;
  width: 20%;
}

/* Image Gallery */
.imageGallery > a {

}
