html, body {
  color: #3a3a3a;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Cinzel', serif;
}

.font-blue {
  color: #00247c;
}

.tab-pane > table tr {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.custom-anchor {
  position: relative;
  top: -60px;
}

.custom-list {
  list-style-type: none;
  padding-left: 0px;
  font-size: 0.8rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
/* .................... Navigation Bar Styling .................... */

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  font-family: 'Cinzel', serif;
}

.navbar.solid {
  background-color: #002F65;;
}

/* Brand Style */
.navbar-brand > img {
  width: 160px;
  cursor: pointer;
}
#gradientDivider{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255), rgba(0, 0, 0, 0));
}

/* Hamburger Menu */
.fa-1x {
font-size: 1.5rem;
}

/* Menu item Styling  */
.custom-link{
    position: relative;
}

.navbar-custom .navbar-nav .nav-item .custom-link.active{
  /* color: red; */
  color: rgba(255,255,255,0.7);
}

.navbar-custom .navbar-nav .custom-link {
  color: white;
  transition: all 1s;
  z-index: 100;
}

.custom-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.custom-link:hover:before, .custom-link:focus:before, .custom-link.active:before {
  visibility: visible;
  width: 100%;
}

/* ....................................................................... */

.bg-navy{
  background-color: #061627;
}

.bt-navy-grey{
  border-top: 1px solid rgba(255,255,255,0.3);
}

/* ....................... Carousel Styling ....................... */
.carousel-full.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

#slide1{
  background-image:
  linear-gradient(to bottom, rgba(6,22,39,1), rgba(6,22,39,0)),
  url('../images/convocation.jpg');
  height: 100vh;
  background-size: cover;
}
#slide2{
  background-image:
  linear-gradient(to bottom, rgba(6,22,39,1), rgba(6,22,39,0)),
  url('../images/banners.jpg');
  height: 100vh;
  background-size: cover;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none;
}
}

/* Hero Content */
.hero-container{
    height: 70vh;
    border-radius: 0px;
}

.hero-rental {
  background-image: linear-gradient(to bottom, rgba(6,22,39,1), rgba(6,22,39,0.3)),
  url("../images/cover/cover.png");
  background-size: cover;
}

/* .hero-contact {
  background-image: linear-gradient(to bottom, rgba(6,22,39,1), rgba(6,22,39,0.3)),
  url("../images/cover/columns.png");
  background-size: cover;
} */

.hero-history {
  background-image: linear-gradient(to bottom, rgba(6,22,39,1), rgba(6,22,39,0.3)),
  url("../images/cover/history.jpg");
  background-size: cover;
}

.hero-access {
  background-image: linear-gradient(to bottom, rgba(6,22,39,1), rgba(6,22,39,0.3)),
  url("../images/cover/sign-2-cover.png");
  background-size: cover;
}

.hero-visit {
  background-image: linear-gradient(to bottom, rgba(6,22,39,1), rgba(6,22,39,0.3)),
  url("../images/cover/column.jpg");
  background-size: cover;
}

.hero-faq {
  background-image: linear-gradient(to bottom, rgba(6,22,39,1), rgba(6,22,39,0.3)),
  url("../images/cover/door-cover.png");
  background-size: cover;
}

.hero-title{
  border: 2px solid white;
  width: 20%;
}

/* Image Gallery */
.imageGallery > a {

}

/* Tabbed Panels */
.custom-nav-tabs{
  border-bottom: none;
}

.custom-tab {
  background-color: #78BCB8;
  color: white;
  border: 1px solid white;
  border-radius: 0px 0px 5px 5px;
}
.custom-tab:hover {
  text-decoration: none;
  background-color: #3a3a3a;
  color: white;
}
.custom-tab.active {
  background-color: #3a3a3a;
  color: white;
}

.timeline {
  color: #3A3A3A;

  /* Parallax scroll Background */
  background: url("../images/textures/concrete_texture.png");
  background-repeat: round;
  background-attachment: fixed; /*Important for parallax scroll*/
}


.custom-h2 {
  font-size: 84px;
  margin: 10px 0;
  width: 100%;
}

.custom-h3 {
  font-size: 22px;
  margin: 20px 0 0 0;
}

.photo {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.header-year {
  display: flex;
  flex-direction: row;
}

.horizontal-line {
  border-top: 3px solid #3a3a3a;
  flex: 1 1;
}

/* Custom Jumbotron */
.custom-jumbotron {
  box-shadow: none;
  background-color: #99cccc;
}
/*******************/

/* ************* Cicular Image Styling *************  */
.circle-img {
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

.large {
  height: 250px;
  width: 250px;
}
/* ************* Cicular Image Styling *************  */
.icons {
  display: flex;
}

/* Graphic Sizing */
.icons > img {
  width: 30%;
}
/* --------------------------------------------- */

.left {
  flex: 1 1;
  border-right: 5px solid #3a3a3a;
}
/* BreakPoint Sm */
@media (max-width: 576px) {
  .left{
    border-right: none;
  }
}

.row:not(:first-child) > .left{
  padding-bottom: 15vh;
}
.row:not(:first-child) > .right{
  padding-top: 30vh;
}
.right {
  flex: 1 1;
}

/*--------- Accessible Accordion Styling ---------*/

.Accordion > * + * {
    border-top: 1px solid hsl(0, 0%, 82%);
}

.Accordion-trigger {
    background: none;
    color: #002A5C;
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    position: relative;
    text-align: left;
    width: 100%;

    border-top: 1px solid #383F51;
    border-bottom: none;
    border-right: none;
    border-left: none;
    outline: none;
    transition: 0.4s;
}

.Accordion-trigger:focus,
.Accordion-trigger:hover {
    background: hsl(0, 0%, 93%);
}

.Accordion-title {
  display: block; /* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8295099/ */
  pointer-events: none;
  font-size: 18px;
  text-align: left;
}


.Accordion-icon {
    border: solid hsl(0, 0%, 62%);
    border-width: 0 2px 2px 0;
    height: .5rem;
    pointer-events: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    width: .5rem;
}

.Accordion-trigger:focus .Accordion-icon,
.Accordion-trigger:hover .Accordion-icon {
    border-color: hsl(0, 0%, 13%);
}

.Accordion-trigger[aria-expanded="true"] .Accordion-icon {
    transform: translateY(-50%) rotate(-135deg);
}

.Accordion-panel {
    margin: 0;
    padding: 0vh 1vw;
    font-size: 18px;
}

.Accordion-panel a{
  text-decoration: underline;
  float: none;
  color: #456488;
  font-weight: bold;
}

.panel a:hover, .panel a:focus{
  color: #00142A;
  border: none;
}
.panel a:focus{
  color: #00142A;
  border: none;
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.Accordion-panel[hidden] {
  display: none;
}

.Accordion-panel:last-of-type {
  border-bottom: 1px solid #383F51;
}

.Accordion-panel.dt:last-of-type{
  border-bottom: 1px solid hsl(0, 0%, 82%);
}
/*            Accordion Styling End            */
.card > img {
  width: auto;
  height: 100%;
}

.washroom-tile {
  color: #3A3A3A;
  box-shadow: none;
  /* Parallax scroll Background */
  background: url("../images/textures/white_tiles.png");
  background-repeat: round;
  background-attachment: fixed; /*Important for parallax scroll*/
}

.icon-link{
  color: #002f65;
}

.icon-link > i {
  background-color: #002f65;
  color: white;
}

.material-icons.md-48 { font-size: 48px; }
