/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.fa-1x {
font-size: 1.1rem;
}

.white-text {
  color: #fff;
}

.navbar.solid {
  background-color: #002F65;;
}

.navbar-custom .navbar-nav .custom-link {
  color: white;
  transition: all 1s;
  z-index: 100;
}

.navbar-custom .navbar-nav .custom-link:hover {
  color: yellow;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

#slide1{
  background-image:
  linear-gradient(to bottom, rgba(6,22,39,1), rgba(6,22,39,0)),
  url('../images/convocation.jpg');
  height: 100vh;
  background-size: cover;
}
#slide2{
  background-image:
  linear-gradient(to bottom, rgba(6,22,39,1), rgba(6,22,39,0)),
  url('../images/banners.jpg');
  height: 100vh;
  background-size: cover;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none;
}
}
